<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Bot Demo</title>
    <!--CSS-->
    <link
      href="../static/homepage_style.css"
      type="text/css"
      rel="stylesheet"
    />

    <!--JS-->
    <script>
      {% include "homepage_client.js" %}
    </script>
  </head>
  <body>
    <nav class="navbar">
      <h1 id="logo">Travel Bot <sup style="font-size: small">(Demo)</sup></h1>
    </nav>
    <div id="container">
      <div id="chat-container">
        <div id="chatbox">
          <span>
            <ul></ul>
          </span>
        </div>
        <div id="chatbox-form-container">
          <form>
            <input type="text" placeholder="Message" />
            <button type="submit" id="send-button">Send</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
